.logo {
  display: block;
  margin: auto;
  height: 50px;
  width: 50px;
}
body {
    height: 100vh;
  background-image: linear-gradient(-90deg, #ccccff, #66ffff);
  
}
.container {
  max-width: 955px;
  border:2px solid black;
  margin: auto;
  height: 60vh;
  overflow-y:auto;
  margin-bottom: 23px;
  padding: 33px;
}
.message {
  background-color: yellowgreen;
  padding: 10px;
  width: 25%;
  margin: 17px 2px;
  border: 2px solid black;
  border-radius: 10px;
}
.left {
  float: left;
  clear: both;
}
.right {
  float: right;
  clear: both;
}

#send-container{
    display:block;
    margin:auto;
    text-align:center;
    max-width: 100%;

}
#messageInp{
    width: 92%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}
.btn{
    cursor: pointer;
    border:2px solid black;
    border-radius: 6px;
    height: 34px;
}